* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*zoom image*/


/* Colorize-zoom Container */
.zoomnow {
    transition: transform 1.5s, filter 1.5s ease-in-out;
    /*filter: grayscale(100%);*/
}

    /* The Transformation */
    .zoomnow:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }

/*box style*/


h1, h2, h3, h4, h5, h6 {
    font-family: anson,poppins,sans-serif;
}

.rect {
    border: 2px solid;
    color: #3866ff;
}

body {
    background-color: #fff;
    font-family: anson,poppins,sans-serif;
}

.row {
    padding-right: 0!important;
    padding-left: 0!important;
}

.navbar {
    /*background-color: #ffde00!important;
    color: #000!important;*/
}

.navbar-brand {
    padding: 0;
    font-size: 30px!important;
    color: #000;
}

.nav-link {
    font-size: 25px!important;
    color: #000!important;
}

.active {
    font-weight: 700!important;
}

.navbar ul li a {
    transition: .2s!important;
}

.navbar-nav li {
    padding-right: 38px;
    position: relative;
}

@media screen and (max-width:500px) {
    .navbar-nav li {
        padding-right: 0;
        position: relative;
    }
}

@media screen and (max-width:269px) {
    .bgcolorheadr {
        width: 100%;
        box-sizing: border-box;
    }
}

.navbar-nav a:hover {
    background-color: #ffde00;
}

.dropdown-menu {
    padding-top: 0;
}

.header {
    position: relative;
}

.bgcolorheadr {
    position: relative;
    padding-bottom: 0;
}

.cartoon {
    color: #ffde00;
    font-family: Aloja!important;
}

.cartoon-max {
    font-size: 70px;
    color: #ffde00;
    font-family: Aloja!important;
}

@media screen and (max-width:500px) {
    .cartoon-max {
        font-size: 35px;
        color: #ffde00;
        font-family: kristen itc!important;
    }
}



#bannerimg {
    position: relative;
    padding-left: 0!important;
    padding-right: 0!important;
    background-color: #fff;
}

.bannercontent {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 450px;
}

    .bannercontent h1 {
        font-size: 80px!important;
        font-family: aileron regular;
        text-align: center;
    }

    .bannercontent h2 {
        font-size: 35px!important;
        font-family: aileron regular;
        text-align: center;
    }

.search {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

.info {
    padding: 2rem 0;
}

    .info .row {
        width: 100%;
        margin: 0!important;
        padding: 1.5rem;
    }

    .info .card {
        display: inline-block;
        width: 45%;
        padding: 30px 20px 35px;
        background-color: #00adef;
        position: relative;
        border: 0!important;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 70px;
    }

        .info .card:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            background-color: skyblue;
            top: 0;
            right: 0;
            border-bottom: 10px solid #00adef;
            border-left: 10px solid #00adef;
            border-right: 20px solid #fff;
            border-top: 20px solid #fff;
            position: absolute;
            -webkit-filter: drop-shadow(-5px 5px 3px rgba(0,0,0,0.7));
            filter: drop-shadow(-5px 5px 3px rgba(0,0,0,0.6));
        }

        .info .card:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 20px solid #00adef;
            border-right: 20px solid #00adef;
            border-left: 20px solid #fff;
            border-bottom: 20px solid #fff;
            bottom: 0;
            left: 0;
            position: absolute;
            -webkit-filter: drop-shadow(7px -7px 5px rgba(0,0,0,0.7));
            filter: drop-shadow(7px -7px 5px rgba(0,0,0,0.6));
            margin-right: 10%;
        }

        .info .card h2 {
            color: snow;
            margin-bottom: 1rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .info .card p {
            color: snow;
            font-size: 1.1rem;
            line-height: 140%;
        }

.y-us-section {
    margin-top: 10px;
    padding: 0 0 0 0;
}

.y-us-head {
    text-align: center;
    margin: 0 0 21px;
}

.y-us-title h2 {
    color: #000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.y-us-title > p {
    color: #777;
    line-height: 22px;
}

.y-us-title-border {
    display: inline-block;
    height: 3px;
    position: relative;
    width: 50px;
}

.service-3 .service-box {
    margin-bottom: 18px;
    color: #000;
    background-color: #fff;
}

.iconset img {
    height: 75px;
    margin-top: 0%;
}

.service-box {
}

.service-3 .service-box .iconset {
    float: left;
    text-align: center;
    width: 25%;
    margin-left: 34%;
    margin-top: 4%;
}

    .service-3 .service-box .iconset i {
        color: #fff;
        font-size: 44px;
    }

.service-3 .service-box .y-us-content {
    float: left;
    width: 75%;
    margin-top: 4%;
    margin-left: 29%;
}

.y-us-content > h4 {
    font-size: inherit;
}

service-3 .service-box .y-us-content h4 {
    color: #3a3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 14px 0 12px;
    text-transform: uppercase;
}

.service-box p {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
    padding: 5px;
}

.icon {
    padding: 0;
    font-size: 40px;
    border-radius: 100px;
    color: red;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.cta-100 {
    margin-top: 40px;
}

.col-md-4 {
    padding-right: 3px!important;
    padding-left: 53px!important;
    padding-bottom: 20px;
}

.white {
    color: #fff!important;
}

.mt {
    float: left;
    margin-top: 0;
    padding-top: 0;
}

.bg-blue-ui {
    background-color: #00adef!important;
    border-radius: 10px;
}

figure img {
    width: 300px;
}

#blogCarousel {
    padding-bottom: 100px;
}

.deal {
    background-color: green!important;
    border: 1px solid green;
    border-radius: 9px;
    position: relative;
    animation: myfirst 3s 150;
    animation-direction: alternate;
}

@keyframes myfirst {
    0% {
        background-color: green;
        left: 0;
        top: 10px;
    }

    100% {
        background: green;
        left: 120px;
        top: 10px;
    }
}

.mon {
    color: #fff!important;
}

.item-box-blog {
    border: 1px solid #dadada;
    background-color: #fff;
    z-index: 4;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.item-box-blog-image {
    position: relative;
}

    .item-box-blog-image figure img {
        width: 100%;
        height: auto;
    }

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: 10px;
    left: 10px;
}

    .item-box-blog-date span {
        color: #fff;
        display: block;
        text-align: center;
        line-height: 1.2;
    }

        .item-box-blog-date span.mon {
            font-size: 20px;
        }

        .item-box-blog-date span.day {
            font-size: 16px;
        }

.item-box-blog-body {
    padding: 5px;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration: none;
    transition: color .3s;
}

.item-box-blog-heading {
    text-decoration: none;
    width: max-content;
    font-size: 15px;
}

.item-box-blog-data p {
    font-size: 20px;
}

    .item-box-blog-data p i {
        font-size: 12px;
    }

.item-box-blog-text p {
    font-size: 16px;
}

    .item-box-blog-text p i {
        font-size: 12px;
    }

.price p {
    color: #d90000;
    font-size: 30px;
    margin-bottom: 5px;
}

    .price p i {
        font-size: 20px;
    }

.item-box-blog-text button {
    background-color: #00adef;
    border-radius: 10px;
    padding-top: 4px;
    border: 0;
}

.arrowbg {
    position: relative;
    background-color: #fff;
    height: 50px;
}

.arrowy {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: #ffde00;
    top: -.5px;
    z-index: 100;
    clip-path: polygon(50% 33%,0 0,100% 0);
}

.arrowtestimonial {
    position: absolute;
    bottom: 10px!important;
}

#gallerydiv {
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
    margin-top: -20px;
}

.bgforarrow {
    display: block;
    position: relative;
    height: 100px;
    background-color: #fff;
}

#gallerydiv .col-md-6 {
    padding-right: 0;
    padding-left: 0;
}

.text-muted {
    color: #00adef!important;
}

.testimonial {
    margin-bottom: 100px;
    margin-top: 50px;
}

    .testimonial .card {
        margin: 0 auto;
    }

        .testimonial .card .carousel-item {
            height: 200px;
        }

        .testimonial .card .carousel-caption {
            padding: 0;
            right: 0;
            left: 0;
            color: #3d3d3d;
        }

            .testimonial .card .carousel-caption h3 {
                color: #3d3d3d;
            }

            .testimonial .card .carousel-caption p {
                line-height: 30px;
            }

            .testimonial .card .carousel-caption .col-sm-3 {
                display: flex;
                align-items: center;
            }

            .testimonial .card .carousel-caption .col-sm-9 {
                text-align: left;
            }

    .testimonial .navi a {
        color: #000;
        font-size: 30px;
        text-decoration: none;
    }

    .testimonial a > .ico {
        background-color: #ffde00;
        padding: 10px;
    }

    .testimonial a:hover > .ico {
        background-color: #666;
        color: #fff;
    }

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 400px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}

@media(max-width:768px) {
    .waves;

{
    height: 40px;
    min-height: 40px;
}

.content {
    height: 30vh;
}

}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding-top: 0;
    padding-bottom: 0;
}

.social {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#social-fb:hover {
    color: #3b5998;
}

#social-tw:hover {
    color: #4099ff;
}

#social-pl:hover {
    color: #ff00c6;
}

#social-em:hover {
    color: #f31212;
}

#social-cl:hover {
    color: #0e6600;
}

.my-card {
    box-shadow: 1px 2px 3px 4px #ccc;
    border: 1px solid;
}

    .my-card > .caption {
        background-color: #ffde00!important;
        margin-bottom: 0;
    }

.smaller-size {
    font-size: 15px;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.info-color {
    background: linear-gradient(40deg,#ffde00,#fff1)!important;
}

.carousel {
}

    .carousel .item {
        color: #999;
        overflow: hidden;
        min-height: 120px;
        font-size: 13px;
    }

    .carousel .media {
        position: relative;
        padding: 0 0 0 20px;
        margin-left: 20px;
    }

        .carousel .media img {
            width: 75px;
            height: 75px;
            display: block;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
            border: 2px solid #fff;
        }

    .carousel .testimonial {
        color: #000;
        position: relative;
        background: #fff;
        padding: 15px;
        margin: 0 0 20px 20px;
        height: 135px;
    }

        .carousel .testimonial::before, .carousel .testimonial::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -20px;
        }

        .carousel .testimonial::before {
            width: 20px;
            height: 20px;
            background: #9b9b9b;
            box-shadow: inset 12px 0 13px rgba(0,0,0,.5);
        }

        .carousel .testimonial::after {
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: #fff;
            border-left-color: #fff;
        }

    .carousel .item .row > div:first-child .testimonial {
        margin: 0 20px 20px 0;
    }

    .carousel .item .row > div:first-child .media {
        margin-left: 0;
    }

    .carousel .testimonial p {
        text-indent: 40px;
        line-height: 21px;
        margin: 0;
    }

        .carousel .testimonial p::before {
            content: '';
            color: #fff;
            font-weight: 700;
            font-size: 68px;
            line-height: 70px;
            position: absolute;
            left: -25px;
            top: 0;
        }

    .carousel .overview {
        padding: 3px 0 0 15px;
    }

        .carousel .overview .details {
            padding: 5px 0 8px;
        }

        .carousel .overview b {
            text-transform: uppercase;
            color: #f55;
        }

    .carousel .carousel-control {
        width: 30px;
        height: 30px;
        background-color: #00adef;
        text-shadow: none;
        top: 4px;
    }

.carousel-control i {
    font-size: 16px;
}

.carousel-control.left {
    left: auto;
    right: 40px;
}

.carousel-control.right {
    left: auto;
}

.carousel-indicators {
    bottom: -30px;
}

    .carousel-indicators li, .carousel-indicators li.active {
        width: 18px;
        height: 18px;
        border-radius: 0;
        margin: 1px 4px;
    }

    .carousel-indicators li {
        background: #e2e2e2;
        border: 4px solid #fff;
    }

        .carousel-indicators li.active {
            color: #fff;
            background: #00adef;
            border: 5px double;
        }

.star-rating li {
    padding: 0 2px;
}

.star-rating i {
    font-size: 14px;
    color: #ffdc12;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

#myCarousel b {
    color: #fff;
}

.promise_motto {
    font-size: 15px;
}

.promise_card {
    box-shadow: 1px 2px 3px 4px #ccc;
}

.mypromise_caption {
    background-color: #00adef;
    height: auto;
    text-align: center;
}

.list-unstyled a {
    color: #fff;
}

.banner-section {
    height: 240px;
    background-image: url(../img/banner.png);
    background-size: cover;
}

.applink {
    background-image: url(../img/appimg.jpg);
    background-size: cover;
    height: 489px;
}

.gplay {
    position: absolute;
    margin-left: 38%;
    margin-top: 15%;
}

.promise_img {
    background-image: url(../img/promise.jpg);
    background-size: contain;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.fixed-calendar {
    position: sticky;
    top: 0;
}

#mobile-testimonial {
    display: none;
}

#desktop-testimonial {
    display: block;
}

#mobform {
    display: none;
}

@media screen and (max-width:500px) {
    .text {
        display: none;
    }

    .full-screen-form {
        display: none;
    }

    .form-btn-space {
        margin-top: 5px;
    }

    #mobform {
        display: block;
        margin-left: 20%;
    }

    .custom-width {
        width: 200px;
    }

    #bannerimg {
        height: auto;
    }

    #mobile-testimonial {
        display: block;
    }

    #mobile-testimonial {
        display: block;
    }

    #desktop-testimonial {
        display: none;
    }

    .mob-view {
        display: none;
    }

    .bannercontent {
        top: 5%;
        width: 100%;
        left: 1%;
    }
}

.textforabout {
    padding-top: 80px;
    padding-left: 50px;
}

.amenities {
    background-color: #ffde00!important;
}

.icon-cover {
    background-color: #ffde00!important;
    padding: 15px;
    margin-left: 40px;
    border-radius: 10px;
}

.am-image {
    width: 40px;
    height: 40px;
}

.poster-heading {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 0;
}

.colored {
    color: #00adef;
}

.border-right-colored {
    border-right: 1px solid;
    border-color: #00adef;
}

@media screen and (max-width:500px) {
    .border-right-colored {
        border-right: none;
    }
}

.list {
    list-style-type: none;
}

.covid-poster {
    background-color: #fddd01;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ml-7 {
    text-align: center;
}

.yello-circle {
    height: 50px;
    width: 50px;
    padding: 50px;
    border-radius: 50%;
    background: #fddd01;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 3%;
}

@media screen and (max-width:500px) {
    .yello-circle {
        height: 50px;
        width: 50px;
        padding: 50px;
        border-radius: 50%;
        background: #fddd01;
        border-radius: 50%;
        margin-left: 35%;
    }

    .textforabout {
        padding-top: 0;
        padding-left: 0;
    }
}

@media screen and (max-width:320px) {
    .mobileyello-circle {
        height: 25px;
        width: 25px;
        padding: 25px;
        border-radius: 25%;
        background: #fddd01;
        border-radius: 25%;
        margin-left: 10%;
    }

    .textforabout {
        padding-top: 0;
        padding-left: 0;
    }
}


.tips {
    font-size: 13px;
    text-align: center;
}

.includes {
    padding: 44px;
    height: 110px;
    margin-left: -16%;
}

.color {
    color: #00adef;
}

.covid_icons {
    height: 40px;
    margin-left: -7%;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px;
    margin-left: 8px;
}

.big_covid_icons {
    height: 70px;
    position: absolute;
    top: 0;
    margin-left: -34px;
    margin-top: 27px;
}


.small_covid_icons {
    height: 30px;
    position: absolute;
    top: 0;
    margin-left: 0px;
    margin-top: 0px;
}

.spacing {
    padding: 5px;
}

.brand {
    color: #fff;
    text-decoration: underline;
}

.mob-option {
    display: none;
}

.mob-f-padding {
    margin-top: 0;
}

.mob-links-options li {
    display: none;
}

.rooms-img {
    border-radius: 10px;
}

.career {
    margin-bottom: 100px;
}

.view-on-mob {
    max-width: 100%;
    border-radius: 10px;
    margin: 23px;
}

@media screen and (max-width:500px) {
    .desk-option {
        display: none;
    }

    .view-on-mob {
        max-width: 100%;
        border-radius: 0;
        margin: 0;
    }

    #demo {
        display: none;
    }

    .poster-heading {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 0;
        margin: 0;
        width: 100%;
    }

    .career {
        margin-bottom: 20px;
    }

    .desklinks {
        display: none;
    }

    .mob-links-options li {
        list-style-type: none;
        display: inline;
    }

    .mob-font {
        font-size: 20px;
    }

    .mob-option {
        display: block;
    }

    .carousel .testimonial {
        color: #000;
        position: relative;
        background: #fff;
        padding: 15px;
        margin: 0 0 20px 20px;
        height: auto;
        font-family: Arial;
    }

    .rooms-img {
        border-radius: 10px;
    }

    .item-box-blog-heading {
        text-decoration: none;
        width: max-content;
        font-size: 10px;
    }

    .mobtext {
        font-family: Arial;
    }

    .mob-f-padding {
        margin-top: -25px;
    }
}

hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

ul {
    margin-bottom: .5rem;
}

/*////////////icon///*/

.content-desktop {
    display: block;
}

.content-mobile {
    display: none;
}

@media screen and (max-width: 600px) {

    .content-desktop {
        display: none;
    }

    .content-mobile {
        display: block;
    }
}

* {
    box-sizing: border-box;
}

.imgwidth {
    width: 100%;
}

.columnbtn {
    float: left;
    width: 9.33%;
    padding: 0px;
    margin-left: 29%;
}

.column {
    float: left;
    width: 27.33%;
    padding: 0px;
    margin-left: 6%;
}

.columnicon {
    float: left;
    width: 20.99%;
    padding: 5px;
    margin-left: 0%;
}

.columniconmobile {
    float: left;
    width: 38.99%;
    padding: 13px;
    margin-left: 11%;
}

.fontHello {
    font-size: 70px;
}

.fontSatello {
    font-size: 80px;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*Desktop*/
@media (min-width:800px) {
    .imageset {
        margin-left: 30%;
    }

    .imgwidth {
        width: 60%;
        box-sizing: border-box;
    }

    .serviceicon {
        margin-left: 13%;
    }

    .tabsize {
        margin-left: 5%;
    }

    .fontsay {
        font-size: 50px;
    }

    .fontHello {
        font-size: 70px;
    }

    .fontSatello {
        font-size: 80px;
    }

    .sizerow {
        margin-left: -6%;
    }

    .column {
        box-sizing: border-box;
    }

    .columnicon {
        box-sizing: border-box;
    }
}

/*tabssize*/
@media (min-width:500px) and (max-width:800px) {
    .tabsize {
    }

    .fontsay {
        font-size: 20px;
    }

    .serviceicon {
        margin-left: 0%;
    }

    .fontHello {
        font-size: 25px;
    }

    .fontSatello {
        font-size: 30px;
    }

    .imgwidth {
        width: 60%;
        box-sizing: border-box;
    }

    .columnicon {
        width: 23.99% !important;
        padding: 5%;
    }

    .columniconmobile {
        float: left;
        width: 33.99%;
        padding: 1px;
        margin-left: 8%;
        box-sizing: border-box;
    }

    .columnicon {
        float: left;
        width: 40.99%;
        padding: 2px;
        margin-left: 2%;
        box-sizing: border-box;
    }

    .column {
        width: 23%;
        box-sizing: border-box;
    }

    .sizerow {
        margin-left: 0%;
    }
    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}
/*tabssize*/
@media (min-width:317px) and (max-width:500px) {
    .tabsize {
    }

    .fontsay {
        font-size: 20px;
        margin-top :15%
    }

    .serviceicon {
        margin-left: 0%;
    }

    .fontHello {
        font-size: 25px;
    }

    .fontSatello {
        font-size: 30px;
    }

    .imgwidth {
        width: 70%;
        box-sizing: border-box;
        margin-left: 15%;
    }

    .columnicon {
        width: 23.99% !important;
        padding: 5%;
    }

    .column {
        width: 27%;
        box-sizing: border-box;
    }

    .columniconmobile {
        float: left;
        width: 28.99%;
        padding: 1px;
        margin-left: 14%;
        box-sizing: border-box;
    }

    .columnicon {
        float: left;
        width: 25.99%;
        padding: 2px;
        margin-left: 2%;
        box-sizing: border-box;
    }

    .sizerow {
        margin-left: 0%;
    }

    .columnnew {
        width: 36.99%;
        box-sizing: border-box;
    }
    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}


/*mobile*/
@media (min-width:0px) and (max-width:316px) {
    .column {
        width: 27%;
        box-sizing: border-box;
    }
    .logo {
        margin-top:-15px;
    }

    .stayellotext {
        margin-top:8%;
    }
    .fontsay {
        font-size: 25px;
    }

    .fontHello {
        font-size: 30px;
    }

    .fontSatello {
        font-size: 40px;
    }

    .sizerow {
        margin-left: 7%;
    }

    .columnnew {
        width: 36.99%;
        box-sizing: border-box;
    }

    .serviceicon {
        margin-left: 0%;
    }

    .columnicon {
        width: 33.99% !important;
        padding: 5%;
    }

    .columniconmobile {
        float: left;
        width: 40.99%;
        padding: 1px;
        margin-left: 9%;
        box-sizing: border-box;
    }
    /*
    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

.columnnew {
    float: left;
    width: 35.99%;
    padding: 3px;
    margin-left: 5%;
    box-sizing: border-box;
}
